@import "../../styles/variables";

.play {
  background-image: url("public/assets/other/play.gif");
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  @include flex-column-center;

  .animation {
    @include flex-row-center;
    gap: 50px;

    p {
      @include main-title-style;
    }
  }
}
