@import "../../styles/variables";

.play {
  position: relative;
  padding-top: -100px;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  opacity: 0.9;
  background-repeat: no-repeat;
  @include flex-column-center;

  .animation {
    @include flex-row-center;
    gap: 5vh;

    img {
      width: 400px;
      animation: levitate 3s ease-in-out infinite;
    }

    p {
      @include main-title-style;
    }

    @keyframes levitate {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }
  }
}

@media (width <= 1020px) {
  .play {
    .animation {
      img {
        width: 300px;
      }
    }
  }
}

@media (width <= 800px) {
  .play {
    .animation {
      img {
        width: $img-small;
      }
    }
    a {
      @include small-button;
    }
  }
}

@media (width<790px) {
  .play {
    justify-content: flex-start;
    padding-top: 700px;
    .animation {
      justify-content: space-between;
      gap: 0;
    }
  }
}
