@import "../../styles/variables";

.play {
  position: relative;
  margin-top: -100px;
  height: 100vh;
  width: 100vw;
  background-image: url("public/assets/other/play.gif");
  background-size: cover;
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  @include flex-column-center;

  .animation {
    @include flex-row-center;
    gap: 50px;

    img {
      animation: levitate 3s ease-in-out infinite;
    }

    p {
      @include main-title-style;
    }

    @keyframes levitate {
      0%,
      100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
    }
  }
}
