@import "../../styles/variables";
@import "../../styles/mixins";

.match-page {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include flex-column-center;
}

.work-status {
  @include flex-column-center;
  @include main-title-style;

  p {
    font-size: $font-medium;
  }

  img {
    max-width: $img-medium;
  }
}

@media (width<=770px) {
  .match-page {
    padding-top: 800px;
  }
}

@media (width<=695px) {
  .match-page {
    padding-top: 800px;
    img {
      width: $img-small;
    }
    .btn-wrapper {
      button {
        @include small-button;
        font-size: 36px;
      }
    }
  }
  .work-status {
    p {
      font-size: $font-medium;
    }
  }
}
