@import "../../styles/variables";
@import "../../styles/mixins";

.work-status {
  @include flex-column-center;
  @include main-title-style;

  p {
    font-size: $font-medium;
  }

  img {
    width: $img-small;
  }
}

.play-btns {
  display: flex;
  gap: 20px;
  button {
    background-color: #17a6a1;
  }
  button:hover {
    background-color: #0d5f5c;
  }
  a {
    background-color: #d01f48;
  }
  a:hover {
    background-color: #700f26;
  }
}
