@import "./variables";
@import "./mixins";

* {
  font-family: $main-font;
  box-sizing: border-box;
}

html {
  height: 100vh;
  background-image: url("public/assets/other/champ-select.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  height: 100vh;
  width: 100%;
}

a,
button {
  text-decoration: none;
  @include button;
}

a:hover,
button:hover {
  @include button-hover;
}
