@import "./variables";
@import "./mixins";

.page {
  padding-top: 100px;
  width: 100%;

  @include flex-row-center;
  align-items: flex-start;

  .page-wrapper {
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

    h1 {
      @include small-title-style;
    }

    section {
      @include flex-column-center;
      width: 100%;
      gap: 5vh;

      .table-wrapper {
        width: 100%;
        @include flex-row-center;
        overflow-y: scroll;
        display: inline-block;

        .table-btns {
          @include flex-row-center;
          justify-content: space-around;
        }

        a,
        button {
          font-size: $font-extra-small;
          padding: 10px 40px;
        }

        a {
          background-color: $primary-color;
        }

        a:hover {
          background-color: $dark-primary-color;
        }

        button {
          background-color: $danger-color;
        }

        button:hover {
          background-color: $dark-danger-color;
        }
      }
    }
  }
}

table {
  text-align: center;
  border-collapse: collapse;
  color: $accent-color-light;
  border: hidden;
  border-radius: 20px;
  height: 100px;

  th,
  td {
    font-size: 1.5em;
    border: 1px solid;
    padding: 0.45em;
    width: 15em;
    background-color: $dark-transparent;
  }

  tr {
    width: 100%;
  }

  th {
    background-color: $accent-color;
  }
}

@media (max-width: 820px) {
  .page {
    .page-wrapper {
      h1 {
        font-size: 4em;
        text-align: center;
        word-wrap: break-word;
      }
      section {
        .table-wrapper {
          border-radius: 0px;
          padding: 5px;
          max-width: 400px;
          max-height: 900px;
          margin-bottom: 50px;
          @include flex-row-center;
          overflow-y: hidden;

          tbody {
            width: min-content;
            max-height: 900px;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            align-items: center;
          }

          tr,
          td {
            display: block;
          }

          tr {
            margin-bottom: 15px;
            width: fit-content;
          }

          td {
            text-align: right;
            position: relative;
          }

          td::before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            padding-left: 15px;
            font-size: 1em;
            font-weight: bold;
            text-align: left;
          }

          th {
            display: none;
          }
        }
      }
    }
  }
}

@media (width <= 768px) {
  .page {
    padding-top: 500px;
  }
}
