@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

$main-font: "Lilita One", cursive;

$main-border-color: #7efffa;
$main-font-fill-color: #1a1b2b;
$win-border-color: #db781a;
$win-font-fill-color: #fac431;

$accent-color: #e25788;
$accent-color-light: #ffffff;
$accent-color-dark: #a73b54;

$border-extra-thin: 1px;
$border-thin: 3px;
$border-thick: 5px;

$font-extra-small: 30px;
$font-small: 50px;
$font-medium: 80px;
$font-big: 100px;
$font-extra-big: 150px;

$img-small: 200px;
$img-medium: 350px;
$img-big: 500px;
