$main-border-color: #7efffa;
$main-font-fill-color: #1a1b2b;
$win-border-color: #db781a;
$win-font-fill-color: #fac431;
$dark-transparent: rgba(0, 0, 0, 0.7);

$accent-color: #e25788;
$accent-color-light: #ffffff;
$accent-color-dark: #a73b54;

$primary-color: #17a6a1;
$dark-primary-color: #0d5f5c;
$danger-color: #d01f48;
$dark-danger-color: #700f26;

$border-extra-thin: 1px;
$border-thin: 3px;
$border-thick: 5px;

$font-extra-small: 30px;
$font-small: 50px;
$font-medium: 80px;
$font-big: 100px;
$font-extra-big: 150px;

$img-small: 200px;
$img-medium: 350px;
$img-big: 500px;
