@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
* {
  font-family: "Lilita One", cursive;
}

html {
  height: 100vh;
}

a,
button {
  text-decoration: none;
  padding: 10px 50px 10px 50px;
  border: none;
  border-radius: 30px;
  font-size: 50px;
  background-color: #e25788;
  color: #ffffff;
}

a:hover,
button:hover {
  background-color: #a73b54;
}

.champion-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.champion-page h1 {
  font-size: 100px;
  color: #e25788;
  -webkit-text-stroke: 1px #ffffff;
}
.champion-page .champion-page-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.champion-page .champion-page-content .champion-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.champion-page .champion-page-content .champion-select .champion-select-window {
  display: flex;
  align-items: center;
  justify-content: center;
}
.champion-page .champion-page-content .champion-select .champion-select-window button {
  padding: 0px;
  width: 30px;
  height: 330px;
  font-size: 50px;
  font-weight: 700;
}
.champion-page .champion-page-content .champion-select .champion-select-window .prev {
  border-radius: 10px 0px 0px 10px;
}
.champion-page .champion-page-content .champion-select .champion-select-window .next {
  border-radius: 0px 10px 10px 0px;
}
.champion-page .champion-page-content .champion-select .champion-select-window .all-champions {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 330px;
  height: 330px;
  border: solid 3px #e25788;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
}
.champion-page .champion-page-content .champion-select .champion-select-window .all-champions .champion {
  display: flex;
  justify-self: center;
  align-self: flex-end;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  height: 20rem;
  width: 350px;
}
.champion-page .champion-page-content .displayed-champion {
  height: 500px;
  width: 500px;
  animation: levitate 3s ease-in-out infinite;
}
@keyframes levitate {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("public/assets/other/champ-select.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

.logInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  max-width: 600px;
  height: 60%;
}
.logInForm h1 {
  font-size: 150px;
  color: #1a1b2b;
  -webkit-text-stroke: 5px #7efffa;
  padding: 0;
}
.logInForm .log-in-label-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.logInForm .log-in-label-input label {
  color: #1a1b2b;
  -webkit-text-stroke: 1px #7efffa;
  font-size: 50px;
}
.logInForm .log-in-label-input input {
  max-width: 450px;
  font-size: 50px;
  color: #1a1b2b;
  padding: 10px 0px;
  border-radius: 20px;
  border: solid 5px #1a1b2b;
}
.logInForm .log-in-label-input input:focus {
  outline: none;
  border: solid 5px #e25788;
  background-color: rgb(249, 240, 230);
}

.play {
  height: 100vh;
  background-image: url("public/assets/other/play.gif");
  opacity: 0.9;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.play .animation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.play .animation img {
  animation: levitate 3s ease-in-out infinite;
}
.play .animation p {
  font-size: 150px;
  color: #1a1b2b;
  -webkit-text-stroke: 5px #7efffa;
}
@keyframes levitate {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.work-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  color: #1a1b2b;
  -webkit-text-stroke: 5px #7efffa;
}
.work-status p {
  font-size: 100px;
}
.work-status img {
  width: 350px;
}

.winner-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.winner-message h1 {
  font-size: 50px;
  color: #fac431;
  -webkit-text-stroke: 1px #db781a;
}
.winner-message img {
  width: 200px;
}/*# sourceMappingURL=App.css.map */