@import "./variables.scss";

.winner-message {
  @include flex-column-center;

  p {
    color: $accent-font-fill-color;
    -webkit-text-stroke: $font-border-thin $accent-font-border-color;
  }
}

.work-status {
  @include flex-column-center;
  font-size: $font-big;
  color: $main-font-fill-color;
  -webkit-text-stroke: $font-border-thick $main-font-border-color;

  p {
    font-size: $font-medium;
  }

  img {
    width: $img-medium;
  }
}
