@import "./variables.scss";

.winner-message {
  @include flex-column-center;

  h1 {
    font-size: $font-medium;
    color: $win-font-fill-color;
    -webkit-text-stroke: $border-thin $win-border-color;
  }
}

.work-status {
  @include flex-column-center;
  font-size: $font-big;
  color: $main-font-fill-color;
  -webkit-text-stroke: $border-thick $main-border-color;

  p {
    font-size: $font-medium;
  }

  img {
    width: $img-medium;
  }
}
