@import "../../../styles/variables";
@import "../../../styles/mixins";

.logInForm {
  @include flex-column-center;
  justify-content: space-around;
  max-width: 600px;
  height: 60%;

  h1 {
    @include main-title-style;
    padding: 0;
  }

  .log-in-label-input {
    @include flex-column-center;
    align-items: center;

    label {
      color: $main-font-fill-color;
      -webkit-text-stroke: $border-extra-thin $main-border-color;
      font-size: $font-small;
    }

    input {
      max-width: 450px;
      @include input;
    }

    input:focus {
      @include input-focus;
    }
  }
}
