.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: $dark-transparent;

  .nav-link {
    background-color: transparent;
    border-radius: 0;
    width: 100%;
    text-align: center;
  }
}
