@import "../../styles/mixins";

.loading-wrapper {
  @include flex-column-center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;

  h2 {
    @include small-title-style;
    text-align: center;
  }
}
